body {
    background-color: rgb(240, 249, 255);
    margin: 0;
    padding: 0;
}

.center {
    display: flex;
    justify-content: center;
}

#spillside_navn {
    font-size: 40px;
    font-weight: bold;
}

#tittel-container {
    text-align: center;
    margin-top: 20px;
}

.spill-container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.spill-box {
    width: 30%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.spill-img {
    width: 80%;
    margin-bottom: 10px;
    box-shadow: 10px 10px 10px gray;
}

.img-box {
    width: 100%;
    height: auto;
}

img.maxwidth {
    max-width: 100%;
}

.play_button {
    background-color: #0d2861;
    color: white;
    padding: 15px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 16px;
    margin-top: auto;
    cursor: pointer;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.icons-container {
    display: flex;
    justify-content: flex-end;
}

.icon {
    margin: 10px;
    width: 70px;
}

.logo-container {
    margin-left: 30px;
}

#logo {
    width: 150px;
}

.container {
    width: 200px;
    background-color: #e6e6e6;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.settings_overskrift {
    font-size: 16px;
    font-weight: bold;
}

#soundAdjuster {
    position: relative;
    width: 100%;
    height: 5px;
    background-color: #767676;
    margin-top: 20px;
}

#soundDot {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: rgb(0, 0, 0);
    border-bottom-right-radius: 70%;
    border-bottom-left-radius: 70%;
    cursor: pointer;
}

#soundPercentage {
    margin-top: 10px;
    font-size: 18px;
}

#leaderboard_title {
    width: 50%;
    height: auto;
    background-color: gray;
    border-radius: 10px;
    border: 2px solid black;
}

#leaderboard {
    width: 50%;
    min-height: 50px;
    height: auto;
    background-color: rgb(203, 203, 203);
    border-radius: 10px;
    border: 2px solid black;
    margin-bottom: 20px;
}


/* forsøk på dropdown settings  */

#settings-dropdown {
    display: none;
    position: absolute;
    background-color: #fff;
    /* Set your background color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Add a box shadow if desired */
    z-index: 1;
}

#settings-dropdown.show {
    display: block;
}

.poengliste_top {
    background-color: rgb(221, 245, 243);
    width: 45%;
    padding: 10px;
}

.poengliste {
    width: 45%;
    padding: 10px;
    background-color: white;
}

.scoreboard {
    width: 30%;
}
